<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title>Mission School | Home </title>
  <meta name="author" content="vecuro">
  <meta name="description" content="Horseno Riding Club service HTML template. Clean design and responsive layout.">
  <meta name="keywords" content="Horseno Riding Club service HTML template">
  <meta name="robots" content="index, follow">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons -->  
   
  <link rel="icon" href="/img/school/fav.jpg" type="image/svg+xml">
  <link rel="icon" href="/img/school/fav.jpg" type="image/png" sizes="32x32">
  <link rel="shortcut icon" href="/img/school/fav.jpg" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/school/fav.jpg">
  <!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;family=Unbounded:wght@200..900&amp;display=swap" rel="stylesheet">

  <!--==============================
	    All CSS File
	============================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Fontawesome Icon -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/css/magnific-popup.min.css">
  <!-- Slick Slider -->
  <link rel="stylesheet" href="/css/slick.min.css">
  <!-- nice-select -->
  <link rel="stylesheet" href="/css/nice-select.min.css">
  <!-- animate js -->
  <link rel="stylesheet" href="/css/animate.min.css">
  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!--********************************
   		Code Start From Here 
	******************************** -->
  <!--==============================
	Preloader
	==============================-->
  <div class="preloader">
  
    <div class="preloader-inner">
      <img src="/img/school/logo.avif" alt="logo">
      <span class="loader"></span>
    </div>
  </div>
  <button class="back-to-top" id="backToTop" aria-label="Back to Top">
    <span class="progress-circle">
        <svg viewBox="0 0 100 100">
            <circle class="bg" cx="50" cy="50" r="40"></circle>
            <circle class="progress" cx="50" cy="50" r="40"></circle>
        </svg>
        <span class="progress-percentage" id="progressPercentage">0%</span>
    </span>
  </button>
  <!--==============================
    	Mobile Menu
  	============================== -->
  <div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
      <div class="mobile-logo">
        <a href="/"><img src="/img/school/logo.avif" alt="Horseno" class="logo"></a>
        <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
      </div>
      <div class="vs-mobile-menu">
        <ul>
          <li >
            <a href="/">Home</a>
          
          </li>
          <li class="menu-item-has-children">
            <a href="/about">About Us</a>
                 <ul class="sub-menu">
              <li><a href="/about">Vision & Mission</a></li>
              <li><a href="/quality-education">International Quality Education</a></li>
         
            </ul>
          </li>
          <li class="menu-item-has-children">
               <a href="#none">Academics</a>
            <ul class="sub-menu">
              <li><a href="/our-programs">School Programs</a></li>
              <li><a href="/unesco">UNESCO's Happy Schools Initiative</a></li>
           
            </ul>
          </li>
             <li>
            <a href="/events">Events</a>
          </li>
             <li>
            <a href="/gallery">Gallery</a>
          </li>
             <li>
            <a href="/blogs">Blogs</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--==============================
	Sidemenu
	============================== -->
<div class="sidemenu-wrapper d-none d-lg-block">
  <div class="sidemenu-content">
    <button class="closeButton sideMenuCls">
      <i class="far fa-times"></i>
    </button>

    <!-- About School -->
    <div class="widget">
      <div class="vs-widget-about">
        <div class="mb-4">
          <a href="index.html">
            <img src="/img/school/logo.avif" alt="Mission School" class="logo right-side-logo">
          </a>
        </div>

        <p class="sidemenu-text">
          Mission School is committed to providing international quality education that nurtures
          creativity, leadership, and academic excellence. We focus on holistic development,
          helping students grow into responsible and confident global citizens.
        </p>

        <ul class="social-links">
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Map -->
    <div class="widget">
      <h3 class="widget_title">School Location</h3>
      <div class="footer-map">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.5809439755694!2d74.84321217482639!3d12.870320887435804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35b1a0cc3c645%3A0x261aad99b5e30146!2sThe%20Mission%20School!5e0!3m2!1sen!2sus!4v1773068560921!5m2!1sen!2sus"
          width="200"
          height="150"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
    </div>

  </div>
</div>
  <!--==============================

    Header Area
  ==============================-->
  <header class="vs-header header-layout1">
    <div class="header-top">
      <div class="container">
        <div class="row justify-content-md-between justify-content-between align-items-center">
          <div class="col-auto">
            <div class="header-links">
              <ul>
                <li class="d-lg-inline d-none"><i class="fas fa-map-marker-alt"></i><a href="#">Mission School, Mangalore, Karnataka </a></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:mymissionschoolmnglr@gmail.com">mymissionschoolmnglr@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="header-right">
            <a href="https://www.edusap.in/online-admission/Mx25ZMSi/" class="admission-btn">Admission</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-wrapper header-bottom">
      <div class="sticky-active">
        <div class="container">
          <div class="menu-top">
            <div class="row justify-content-between align-items-center gx-sm-0">
              <div class="col-auto">
                <div class="header-logo">
                  <a href="/"><img src="/img/school/logo.avif" alt="Horseno" class="logo"></a>
                </div>
              </div>
              <div class="col-auto">
                <nav class="main-menu menu-style1 d-none d-lg-block">
                  <ul>
                    <li >
                      <a href="/">Home</a>
               
                    </li>
                               <li class="menu-item-has-children">
                      <a href="/about">About Us</a>
                      <ul class="sub-menu">
                        <li><a href="/about">Vision & Mission</a></li>
                        <li><a href="/quality-education">International Quality Education</a></li>
                      </ul>
                    </li>
                     <li class="menu-item-has-children">
                      <a href="/our-programs">Academics</a>
                      <ul class="sub-menu">
                        <li><a href="/our-programs">School Programs</a></li>
                        <li><a href="/unesco">UNESCO's Happy Schools Initiative</a></li>
                      </ul>
                    </li>
                    <li >
                      <a href="/events">Events</a>
               
                    </li>
                    <li >
                      <a href="/gallery">Gallery</a>
                   
                    </li>
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-auto">
                <div class="menu-btns">

                  <div class="header-btns">
                    <button class="vs-icon style3 sideMenuToggler d-none d-lg-inline-flex"><i class="far fa-bars"></i></button>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--==============================
   Hero Area
  ==============================-->
<section class="hero-layout1 hero-slider" data-wow-delay="0.25s" aria-hidden="true">
  <div class="hero-slider-wrapper">

    <!-- Slide 1 -->
    <div class="hero-slide" style="background-image: url('/img/school/banner-1.jpg');">
      <div class="hero-item">
        <div class="container position-relative z-index">
          <div class="row">
            <div class="col-lg-8 position-relative">
              <div class="hero-content">
                <div class="hero-subtitle wow animate__fadeInUp" data-wow-delay="0.30s">
                  50 Years of Educational Excellence
                </div>

                <h1 class="hero-title wow animate__fadeInUp" data-wow-delay="0.50s">
                  Predict The Future Of Your <span class="title-highlight">Child</span>
                </h1>

                <p class="hero-text wow animate__fadeInUp" data-wow-delay="0.75s">
                  Unlock your child's full potential with the right educational foundation. 
                  With 50 years of experience and 14 successful educational institutions, 
                  we have already shaped countless futures. Let us help build your child’s 
                  journey toward success.
                </p>

                <a class="vs-btn wow animate__fadeInUp" data-wow-delay="0.95s" href="contact.html">
                  Contact Now<i class="fa-regular fa-arrow-right"></i>
                </a>

                <span class="dot-shape wow animate__bounceInRight" data-wow-delay="0.70s"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Slide 2 -->
    <div class="hero-slide" style="background-image: url('/img/school/banner-2.jpg');">
      <div class="hero-item">
        <div class="container position-relative z-index">
          <div class="row">
            <div class="col-lg-8 position-relative">
              <div class="hero-content">
                <div class="hero-subtitle wow animate__fadeInUp" data-wow-delay="0.30s">
                  Innovative Learning Environment
                </div>

                <h1 class="hero-title wow animate__fadeInUp" data-wow-delay="0.50s">
                  Building A Strong <span class="title-highlight">Foundation</span>
                </h1>

                <p class="hero-text wow animate__fadeInUp" data-wow-delay="0.75s">
                  From Pre-Primary to 5th Grade, we provide a collaborative learning 
                  environment for children, teachers, and parents. Our integrated 
                  approach supports creativity, critical thinking, and personal 
                  growth for every child.
                </p>

                <a class="vs-btn wow animate__fadeInUp" data-wow-delay="0.95s" href="about.html">
                  Learn More<i class="fa-regular fa-arrow-right"></i>
                </a>

                <span class="dot-shape wow animate__bounceInRight" data-wow-delay="0.70s"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Slide 3 -->
    <div class="hero-slide" style="background-image: url('/img/school/banner-3.jpg');">
      <div class="hero-item">
        <div class="container position-relative z-index">
          <div class="row">
            <div class="col-lg-8 position-relative">
              <div class="hero-content">
                <div class="hero-subtitle wow animate__fadeInUp" data-wow-delay="0.30s">
                  A Joyful Learning Community
                </div>

                <h1 class="hero-title wow animate__fadeInUp" data-wow-delay="0.50s">
                  A Happy Child Creates A <span class="title-highlight">Better World</span>
                </h1>

                <p class="hero-text wow animate__fadeInUp" data-wow-delay="0.75s">
                  We nurture children in a positive and caring environment where 
                  creativity, curiosity, and confidence grow naturally. Together 
                  with parents and teachers, we prepare children to become 
                  responsible global citizens.
                </p>

                <a class="vs-btn wow animate__fadeInUp" data-wow-delay="0.95s" href="contact.html">
                  Join Us<i class="fa-regular fa-arrow-right"></i>
                </a>

                <span class="dot-shape wow animate__bounceInRight" data-wow-delay="0.70s"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Slider Controls -->
  <div class="hero-slider-controls">
    <button class="hero-slider-prev"><i class="fas fa-chevron-left"></i></button>
    <button class="hero-slider-next"><i class="fas fa-chevron-right"></i></button>
  </div>


</section>
  <!-- Counter Area Start -->

  <!-- data-bg-src="/img/bg/about-bg-shape.png"  -->
  <!-- Counter Area End -->
  <div class="position-relative" >
    <!-- About Area  -->
     <section class="about-layout1 space">
      <div class="container">
        <div class="row gx-60 g-5 justify-content-center align-items-center">
          <div class="col-xl-6">
            <div class="img-box2 wow animate__fadeInUp" data-wow-delay="0.55s">
              <div class="text-box2">
                <div class="box-body">
                  <span class="text-box2__text">50+ Years Experience</span>
                </div>
              </div>
              <div class="box-inner">
                <div class="img1 wow animate__fadeInUp" data-wow-delay="0.25s">
                  <img src="/img/school/abt-bnr.avif" alt="About Image">
                </div>
                <div class="img2 wow animate__fadeInUp" data-wow-delay="0.45s">
                  <img src="/img/school/abt-3.jpg" alt="About Image " class="abt-img">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="about-content">
              <div class="wow animate__fadeInUp" data-wow-delay="0.35s">
                <div class="title-area animation-style1 title-anime">
                  <span class="sec-subtitle justify-content-start text-theme title-anime__title"><img src="/img/shapes/left-title-shape.svg" alt="shape">About Us<img src="/img/shapes/right-title-shape.svg" alt="shape"></span>
                  <h2 class="sec-title text-title title-anime__title">
Predict the future of your child by creating it!</h2>
                </div>
                <p class="about-text wow animate__fadeInUp" data-wow-delay="0.55s">
                 Unlock your child's full potential by giving them the best educational foundation. With our 50 years of experience and excellence and 14 successful educational institutions, we have already prepared the way for countless futures. Let us do the same for your child. Predict the future of your child by creating with us! Let us be the partners you need in your child's journey
                </p>
              </div>
              <div class="about-content wow animate__fadeInUp" data-wow-delay="0.75s">
                <div class="about-box">
                  <div class="about-video">
                    <img src="/img/school/abt-video.png" alt="About Image">
              <a href="https://www.youtube.com/watch?v=5XO2V4mQynI" class="play-btn popup-video">
  <i class="fas fa-play"></i>
</a>
                  </div>
              
                </div>
              </div>
              <div class="about-inner mb-0 wow animate__fadeInUp" data-wow-delay="0.95s">
                <a class="vs-btn" href="about.html">About Us <i class="far fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Area End -->
  </div>
  <!-- Choose Area Start -->
<section class="choose-layout1 space">
  <div class="container">
    <div class="row g-5 gx-50">

      <div class="col-xl-8 position-relative">

        <div class="title-area animation-style1 title-anime">
          <span class="sec-subtitle justify-content-start text-body title-anime__title">
            <img src="/img/shapes/left-title-shape2.svg" alt="shape">
            Mission School Values
            <img src="/img/shapes/right-title-shape2.svg" alt="shape">
          </span>

          <h2 class="sec-title text-body title-anime__title">
          Our Mission for your child and future!
          </h2>
        </div>

        <div class="choose-body">

          <!-- Video -->
          <div class="choose-video wow animate__fadeInUp" data-wow-delay="0.35s">
            <div class="choose-img">
              <img src="/img/school/hm-img-1.jpg" alt="Mission School">
          
            </div>
          </div>

          <div class="choose-inner">

            <!-- Mission -->
            <div class="choose-item wow animate__fadeInUp" data-wow-delay="0.55s">
              <span class="choose-icon">
                <img src="/img/icons/target-icon.svg" alt="icon">
              </span>

              <div class="choose-content">
                <h2 class="choose-title"><a href="#">Building a Strong Foundation for Your Child’s Future: </a></h2>

                <p class="choose-text">
             As a parent, choosing the right school for your child is one of the most important decisions you’ll make for their future. The foundation laid in the early years—from pre-primary to 5th grade—sets the stage for lifelong success. At our institution, we’ve dedicated the past 50 years to creating an environment that nurtures not just academic excellence but also the development of your child’s personality, values, and relationships. Let’s work together to build a strong foundation for your child’s future.
                </p>
              </div>
            </div>

     

          </div>
        </div>

        <span class="shape-mockup moving d-xxl-block d-none" style="left: -5%; bottom: -12%;">
          <img src="/img/shapes/dot-shape.png" alt="Choose shape">
        </span>

        <span class="shape-mockup moving d-xxl-block d-none" style="right: 18%; top: -8%;">
          <img src="/img/shapes/dot-shape.png" alt="Choose shape">
        </span>

      </div>

      <!-- Right Side -->
      <div class="col-xl-4">

        <div class="choose-list-box">

          <h2 class="title wow animate__fadeInUp" data-wow-delay="0.25s">
            Why Choose Mission School
          </h2>

          <p class="text wow animate__fadeInUp" data-wow-delay="0.55s">
            Mission School provides a nurturing learning environment focused
            on academic excellence, creativity, and the holistic development
            of every student.
          </p>

          <div class="list-style1 wow animate__fadeInUp" data-wow-delay="0.75s">
            <ul class="list-unstyled">

              <li><i class="fa-solid fa-octagon-check"></i>International Quality Education</li>

              <li><i class="fa-solid fa-octagon-check"></i>Experienced & Caring Teachers</li>

              <li><i class="fa-solid fa-octagon-check"></i>Safe & Supportive Learning Environment</li>

              <li><i class="fa-solid fa-octagon-check"></i>Focus on Creativity & Critical Thinking</li>

              <li><i class="fa-solid fa-octagon-check"></i>Holistic Student Development</li>

              <li><i class="fa-solid fa-octagon-check"></i>Modern Learning Facilities</li>

              <li><i class="fa-solid fa-octagon-check"></i>Encouraging Confidence & Leadership</li>

            </ul>
          </div>

          <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
                data-wow-delay="0.80s"
                style="left: 0px; top: 0px;">
            <img src="/img/shapes/choose-shape1.png" style="opacity: 0.5;" alt="section shape">
          </span>

          <span class="shape-mockup wow animate__fadeInRight"
                data-wow-delay="0.80s"
                style="right: 0px; bottom: 0px;">
            <img src="/img/shapes/choose-shape2.png" style="opacity: 0.5;" alt="section shape">
          </span>

        </div>

      </div>

    </div>
  </div>
</section>
  <!-- Choose Area End -->

  <!-- Events Area Start -->
  <section class="events-section space">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-xl-8">
          <div class="title-area text-center animation-style1 title-anime">
            <span class="sec-subtitle text-theme title-anime__title">
              <img src="/img/shapes/left-title-shape.svg" alt="shape">
              Upcoming Events
              <img src="/img/shapes/right-title-shape.svg" alt="shape">
            </span>
            <h2 class="sec-title text-title title-anime__title">
              Discover Our <span class="title-highlight text-secondary inline">Exciting Events</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="events-slider vs-carousel wow animate__fadeInUp" data-wow-delay="0.3s" 
               data-slide-show="3" 
               data-lg-slide-show="3" 
               data-md-slide-show="2" 
               data-sm-slide-show="1" 
               data-arrows="true">

            <!-- Event Card 1 -->
            <div class="event-slide">
              <div class="event-card">
                <div class="event-image">
                  <img src="/img/school/hm-img-2.jpg" alt="Sports Day">
                  <div class="event-date">
                    <span class="day">15</span>
                    <span class="month">Mar</span>
                  </div>
                </div>
                <div class="event-content">
                  <div class="event-meta">
                    <span><i class="far fa-clock"></i> 9:00 AM - 4:00 PM</span>
                    <span><i class="fas fa-map-marker-alt"></i> School Ground</span>
                  </div>
                  <h3 class="event-title">Annual Sports Day</h3>
                  <p class="event-description">
                    Join us for an exciting day of athletic competitions and team spirit. Students showcase their talents in various sports events.
                  </p>
                </div>
              </div>
            </div>

            <!-- Event Card 2 -->
            <div class="event-slide">
              <div class="event-card">
                <div class="event-image">
                  <img src="/img/school/evnt-1.jpg" alt="Science Exhibition">
                  <div class="event-date">
                    <span class="day">22</span>
                    <span class="month">Mar</span>
                  </div>
                </div>
                <div class="event-content">
                  <div class="event-meta">
                    <span><i class="far fa-clock"></i> 10:00 AM - 3:00 PM</span>
                    <span><i class="fas fa-map-marker-alt"></i> School Hall</span>
                  </div>
                  <h3 class="event-title">Science Exhibition</h3>
                  <p class="event-description">
                    Explore innovative projects and scientific discoveries created by our talented young scientists and researchers.
                  </p>
                </div>
              </div>
            </div>

            <!-- Event Card 3 -->
            <div class="event-slide">
              <div class="event-card">
                <div class="event-image">
                  <img src="/img/school/hm-img-2.jpg" alt="Cultural Fest">
                  <div class="event-date">
                    <span class="day">28</span>
                    <span class="month">Mar</span>
                  </div>
                </div>
                <div class="event-content">
                  <div class="event-meta">
                    <span><i class="far fa-clock"></i> 5:00 PM - 9:00 PM</span>
                    <span><i class="fas fa-map-marker-alt"></i> Auditorium</span>
                  </div>
                  <h3 class="event-title">Annual Cultural Fest</h3>
                  <p class="event-description">
                    Experience a vibrant celebration of music, dance, and art featuring performances by our talented students.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="index.html" class="vs-btn">View All Events <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <!-- Events Area End -->
    <!-- Service Area  -->
    <section class="service-layout2 service-space-bottom mt-30">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <div class="title-area mt-n1 text-center animation-style1 title-anime">

              <h2 class="sec-title text-title title-anime__title">From pre-primary to 5th grade, let us shape your child's future success!</span></h2>
            </div>
          </div>
        </div>
        <div class="row g-3 gx-40 justify-content-center">
          <div class="col-xl-6">
            <div class="vs-carousel wow animate__fadeInUp" data-wow-delay="0.45s" data-vertical="true" data-xs-vertical="true" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true"  data-slide-show="3" data-autoplay="true">
              <div class="service-item">
                <div class="service-style3">
         
                  <div class="service-inner">
                    <div class="service-logo">
                      <a href="service-details.html">
                        <img class="img1" src="/img/school/ser-1.jpg" alt="Service Image">
                        <img class="img2" src="/img/school/ser-1.jpg" alt="Service Image">
                      </a>
                    </div>
                    <div class="service-content">
                      <h2 class="service-title"><a href="service-details.html">Joyful Learning Environment </a></h2>
                      <p class="service-text">A joyful child flourishes in a nurturing environment, sparking creativity and curiosity that ignite a passion for lifelong learning and to be a global citizen.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-item">
                <div class="service-style3">
         
                  <div class="service-inner">
                    <div class="service-logo">
                      <a href="service-details.html">
                        <img class="img1" src="/img/school/ser-2.jpg" alt="Service Image">
                        <img class="img2" src="/img/school/ser-2.jpg" alt="Service Image">
                      </a>
                    </div>
                    <div class="service-content">
                      <h2 class="service-title"><a href="service-details.html">Collaborative Learning Environment</a></h2>
                      <p class="service-text">Collaborative environment for children, teachers, and parents. An integrated approach like this will enhance the individual growth of each child.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-item">
                <div class="service-style3">
         
                  <div class="service-inner">
                    <div class="service-logo">
                      <a href="service-details.html">
                        <img class="img1" src="/img/school/ser-3.jpg" alt="Service Image">
                        <img class="img2" src="/img/school/ser-3.jpg" alt="Service Image">
                      </a>
                    </div>
                    <div class="service-content">
                      <h2 class="service-title"><a href="service-details.html">Foundation for Lifelong Learning</a></h2>
                      <p class="service-text">Building a sustainable foundation for lifelong learning.We need a new education model based on human values and a future-oriented growth plan.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-item">
                <div class="service-style3">
         
                  <div class="service-inner">
                    <div class="service-logo">
                      <a href="service-details.html">
                        <img class="img1" src="/img/school/ser-4.jpg" alt="Service Image">
                        <img class="img2" src="/img/school/ser-4.jpg" alt="Service Image">
                      </a>
                    </div>
                    <div class="service-content">
                      <h2 class="service-title"><a href="service-details.html">Holistic Child Development </a></h2>
                      <p class="service-text">We focus on the overall development of every child by nurturing academic excellence, creativity, emotional well-being, and social skills, helping them grow into confident and responsible individuals.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="service-img wow animate__fadeInUp" data-wow-delay="0.55s">
              <img src="/img/school/ser-5.jpg" class="w-100" alt="service image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Innovative Learning Experience Area Start -->
    <section class="innovative-learning-section space" data-bg-src="/img/bg/innovative-bg.png">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                    <div class="title-area animation-style1 title-anime mb-lg-0">
                        <span class="sec-subtitle justify-content-start text-theme title-anime__title">
                            <img src="/img/shapes/left-title-shape.svg" alt="shape">
                            Empowering The Future
                            <img src="/img/shapes/right-title-shape.svg" alt="shape">
                        </span>
                        <h2 class="sec-title text-title title-anime__title mb-4">
                            Innovative Learning <span class="title-highlight text-secondary d-block">Experience</span>
                        </h2>
                        <p class="section-desc  wow animate__fadeInUp" data-wow-delay="0.3s">
                            Empowering children to thrive as global citizens through creative and engaging education. A happy child makes a better world!
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="innovative-main-text wow animate__fadeInUp" data-wow-delay="0.4s">
                        A happy child thrives in a positive environment, fostering creativity and curiosity that lead to lifelong learning. By nurturing their emotional well-being, we empower them to build meaningful connections directly and contribute positively to society. Enrolling your child in our school ensures they receive the support and encouragement needed to grow into confident, compassionate individuals who can truly make the world a better place.
                    </div>
                </div>
            </div>

     <div class="row g-4 justify-content-center mt-4">
    
    <!-- Feature 1 -->
    <div class="col-xl-6 col-lg-6">
        <div class="innovative-card wow animate__fadeInUp" data-wow-delay="0.5s">
            <div class="innovative-card-img">
                <img src="/img/school/ser-6.jpg" alt="Parent Engagement">
            </div>
            <div class="innovative-card-content">
                <div class="icon-wrapper">
                    <i class="fas fa-users" style="font-size:40px;color:#4e7dd1;"></i>
                </div>
                <h3 class="title">Parent Engagement Model</h3>
                <p class="text">
                    Building strong partnerships with parents to support children's growth and development collaboratively in a nurturing environment.
                </p>
            </div>
        </div>
    </div>
    
    <!-- Feature 2 -->
    <div class="col-xl-6 col-lg-6">
        <div class="innovative-card wow animate__fadeInUp" data-wow-delay="0.6s">
            <div class="innovative-card-img">
                <img src="/img/school/ser-7.jpg" alt="Creative Curriculum">
            </div>
            <div class="innovative-card-content">
                <div class="icon-wrapper">
                    <i class="fas fa-book-open" style="font-size:40px;color:#f39c12;"></i>
                </div>
                <h3 class="title">Creative Curriculum Design</h3>
                <p class="text">
                    Tailored programs fostering creativity, critical thinking, and collaboration amongst our young learners naturally for future success.
                </p>
            </div>
        </div>
    </div>

</div>
        </div>
    </section>
    <!-- Innovative Learning Experience Area End -->




     
  <!-- FAQ area Start -->
<section class="faq-layout1 bg-theme position-relative">
  <div class="container z-index-common">
    <div class="row gx-60">

      <!-- Admission Enquiry Form -->
      <div class="col-xl-6 wow animate__fadeInLeft" data-wow-delay="0.25s">
        <form class="form-style1 ajax-contact" action="mail.php" method="post">
          <div class="title-area text-center animation-style1 title-anime">
            <span class="sec-subtitle text-body title-anime__title">
              <img src="/img/shapes/left-title-shape2.svg" alt="shape">
              Admissions
              <img src="/img/shapes/right-title-shape2.svg" alt="shape">
            </span>
            <h2 class="sec-title text-body title-anime__title">Request Admission Information</h2>
          </div>

          <div class="row gx-20">
            <div class="col-md-12 form-group">
              <input class="form-control" type="text" name="name" placeholder="Parent / Guardian Name">
              <i class="fas fa-user"></i>
            </div>

            <div class="col-md-12 form-group">
              <input class="form-control" type="email" name="email" placeholder="Email Address">
              <i class="fas fa-envelope"></i>
            </div>

            <div class="col-md-12 form-group">
              <input class="form-control" type="number" name="number" placeholder="Phone Number">
              <i class="fas fa-mobile-android"></i>
            </div>

            <div class="col-md-6 form-group">
              <input class="form-control" type="text" name="student" placeholder="Student Name">
              <i class="fas fa-child"></i>
            </div>

            <div class="col-md-6 form-group">
              <input class="form-control" type="text" name="grade" placeholder="Grade Applying For">
              <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="col-md-12 form-group">
              <input class="form-control" type="text" name="message" placeholder="Your Message">
            </div>

            <div class="col-md-12 form-group">
              <button class="vs-btn w-100 justify-content-center" type="submit">
                Submit Enquiry
              </button>
            </div>
          </div>
        </form>
        <p class="form-messages mb-0 mt-3"></p>
      </div>

      <!-- FAQ Section -->
      <div class="col-xl-6 space wow animate__fadeInRight" data-wow-delay="0.25s">
        <div class="title-area mb-60 animation-style5 title-anime">
          <span class="sec-subtitle text-white justify-content-start text-body title-anime__title">
            <img src="/img/shapes/left-title-shape2.svg" alt="shape">
            FAQs
            <img src="/img/shapes/right-title-shape2.svg" alt="shape">
          </span>
          <h2 class="sec-title text-white text-body title-anime__title">
            Frequently Asked Questions
          </h2>
        </div>

        <div class="accordion accordion-style1" id="faqVersion1">

          <!-- FAQ 1 -->
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                What grades does Mission School offer?
              </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqVersion1">
              <div class="accordion-body">
                <p>
                  Mission School offers education from Pre-Primary to Grade 5 with a focus on holistic development and joyful learning.
                </p>
              </div>
            </div>
          </div>

          <!-- FAQ 2 -->
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                What teaching approach does the school follow?
              </button>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqVersion1">
              <div class="accordion-body">
                <p>
                  Our school follows an innovative and value-based learning approach that nurtures creativity, curiosity, and critical thinking.
                </p>
              </div>
            </div>
          </div>

          <!-- FAQ 3 -->
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                How can I apply for admission?
              </button>
            </div>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqVersion1">
              <div class="accordion-body">
                <p>
                  You can apply by filling out the admission enquiry form on our website or by visiting the school office for guidance.
                </p>
              </div>
            </div>
          </div>

          <!-- FAQ 4 -->
          <div class="accordion-item">
            <div class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                How does the school support overall child development?
              </button>
            </div>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqVersion1">
              <div class="accordion-body">
                <p>
                  Mission School focuses on academic excellence, emotional well-being, creativity, and social skills to help children grow into confident global citizens.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <span class="shape-mockup moving d-xxl-block d-none" style="left: 7%; bottom: 10%;">
    <img src="/img/shapes/dot-shape.png" alt="CTA shape">
  </span>

  <span class="shape-mockup moving d-xxl-block d-none" style="right: 7%; top: 10%;">
    <img src="/img/shapes/dot-shape.png" alt="CTA shape">
  </span>

  <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
        data-wow-delay="0.80s"
        style="left: 0px; top: 0px;">
    <img src="/img/shapes/cta-shape1.png" style="opacity:0.3;" alt="section shape">
  </span>

  <span class="shape-mockup wow animate__fadeInRight d-xxl-block d-none"
        data-wow-delay="0.80s"
        style="right: 0px; bottom: 0px;">
    <img src="/img/shapes/cta-shape2.png" style="opacity:0.3;" alt="section shape">
  </span>

</section>
  <!-- FAQ area End -->
         <!-- Gallery area Start -->
<section class="gallery-layout3 gallery-custom1 mb-40">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-6 col-lg-7 col-auto">
        <div class="title-area mt-n1 animation-style1 title-anime">
          <span class="sec-subtitle justify-content-start text-theme title-anime__title">
            <img src="/img/shapes/left-title-shape.svg" alt="shape">Gallery
            <img src="/img/shapes/right-title-shape.svg" alt="shape">
          </span>
          <h2 class="sec-title text-title title-anime__title">
            Moments At <span class="title-higlight text-secondary inline">Mission School</span>
          </h2>
        </div>
      </div>

      <div class="col-xl-6 col-lg-5 col-auto">
        <div class="title-area mb-60">
          <div class="d-flex justify-content-end align-items-center gap-2">
            <button class="icon-btn2" data-slick-prev=".gallery-slide1">
              <i class="fal fa-long-arrow-left"></i>
            </button>
            <button class="icon-btn2" data-slick-next=".gallery-slide1">
              <i class="fal fa-long-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row vs-carousel gallery-slide1" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-center-mode="true">

      <!-- Gallery 1 -->
      <div class="col-xl-4">
        <div class="gallery-box style2 wow animate__fadeInUp" data-wow-delay="0.30s">
          <div class="gallery-img">
            <img src="/img/school/gallery-1.jpg" alt="gallery img">
    
            <a href="#" class="gallery-tag">Classroom</a>
            <div class="gallery-content">
              <h2 class="gallery-title"><a href="#">Joyful Classroom Learning</a></h2>
              <p class="gallery-text">
                Capturing moments of curiosity, creativity, and active learning in our classrooms.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Gallery 2 -->
      <div class="col-xl-4">
        <div class="gallery-box style2 wow animate__fadeInUp" data-wow-delay="0.30s">
          <div class="gallery-img">
            <img src="/img/school/gallery-1.jpg" alt="gallery img">
    
            <a href="#" class="gallery-tag">Activities</a>
            <div class="gallery-content">
              <h2 class="gallery-title"><a href="#">Creative Student Activities</a></h2>
              <p class="gallery-text">
                Students expressing creativity and teamwork through engaging activities and projects.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Gallery 3 -->
      <div class="col-xl-4">
        <div class="gallery-box style2 wow animate__fadeInUp" data-wow-delay="0.30s">
          <div class="gallery-img">
            <img src="/img/school/gallery-1.jpg" alt="gallery img">
    
            <a href="#" class="gallery-tag">Events</a>
            <div class="gallery-content">
              <h2 class="gallery-title"><a href="#">School Celebrations & Events</a></h2>
              <p class="gallery-text">
                Memorable moments from school events, cultural programs, and celebrations.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Gallery 4 -->
      <div class="col-xl-4">
        <div class="gallery-box style2 wow animate__fadeInUp" data-wow-delay="0.30s">
          <div class="gallery-img">
            <img src="/img/school/gallery-1.jpg" alt="gallery img">
    
            <a href="#" class="gallery-tag">Campus</a>
            <div class="gallery-content">
              <h2 class="gallery-title"><a href="#">Life at Mission School</a></h2>
              <p class="gallery-text">
                A glimpse into the vibrant school environment where students learn and grow.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
    <!-- Gallery area End -->
         <!-- testimonials area Start -->
  <section style="margin-top:5rem!important;" class="testimonial-layout2 space ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-auto">
        <div class="title-area text-center mt-n1 animation-style1 title-anime">
          <span class="sec-subtitle text-theme title-anime__title">
            <img src="/img/shapes/left-title-shape.svg" alt="shape">Testimonials
            <img src="/img/shapes/right-title-shape.svg" alt="shape">
          </span>
          <h2 class="sec-title text-title title-anime__title">
            What Parents Say About <span class="title-higlight text-secondary inline">Mission School</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="row gx-2">
      <div class="testi-body position-relative">
        <div class="row vs-carousel testi-carousel"
          data-slide-show="3"
          data-lg-slide-show="2"
          data-md-slide-show="2"
          data-sm-slide-show="1"
          data-xs-slide-show="1">

          <!-- Testimonial 1 -->
          <div class="col-xl-6 wow animate__fadeInUp" data-wow-delay="0.25s">
            <div class="testi-style2">
              <div class="author-img">
                <img class="img1" src="/img/school/dummy.jpg" alt="testimonials">
              </div>
              <div class="testi-content">
                <div class="star-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>

                <p class="testi-text">
                  "Mission School has truly transformed my child's learning journey. The teachers are caring, and the creative learning environment encourages curiosity and confidence."
                </p>

                <div class="author-inner">
                  <div>
                    <h4 class="author-name"><a href="#">Anita Thomas</a></h4>
                    <span class="author-degi">Parent</span>
                  </div>
                  <div class="author-quote">
                    <img src="/img/school/google-icon.webp" alt="quote Icon">
                  </div>
                </div>

                <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="left: 0px; bottom: 0px;">
                  <img src="/img/shapes/testi-shape1.png" alt="section shape">
                </span>

                <span class="shape-mockup wow animate__fadeInRight d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="right: 0px; top: 0px;">
                  <img src="/img/shapes/testi-shape2.png" alt="section shape">
                </span>
              </div>
            </div>
          </div>

          <!-- Testimonial 2 -->
          <div class="col-xl-6 wow animate__fadeInUp" data-wow-delay="0.25s">
            <div class="testi-style2">
              <div class="author-img">
                <img class="img1" src="/img/school/dummy.jpg" alt="testimonials">
              </div>
              <div class="testi-content">
                <div class="star-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>

                <p class="testi-text">
                  "The innovative teaching methods at Mission School help children develop creativity and critical thinking. My child enjoys learning every day."
                </p>

                <div class="author-inner">
                  <div>
                    <h4 class="author-name"><a href="#">Rahul Nair</a></h4>
                    <span class="author-degi">Parent</span>
                  </div>
                  <div class="author-quote">
                    <img src="/img/school/google-icon.webp" alt="quote Icon">
                  </div>
                </div>

                <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="left: 0px; bottom: 0px;">
                  <img src="/img/shapes/testi-shape1.png" alt="section shape">
                </span>

                <span class="shape-mockup wow animate__fadeInRight d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="right: 0px; top: 0px;">
                  <img src="/img/shapes/testi-shape2.png" alt="section shape">
                </span>
              </div>
            </div>
          </div>

          <!-- Testimonial 3 -->
          <div class="col-xl-6 wow animate__fadeInUp" data-wow-delay="0.25s">
            <div class="testi-style2">
              <div class="author-img">
                <img class="img1" src="/img/school/dummy.jpg" alt="testimonials">
              </div>
              <div class="testi-content">
                <div class="star-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>

                <p class="testi-text">
                  "Mission School focuses not only on academics but also on values and personal growth. It is the perfect place for children to learn and grow."
                </p>

                <div class="author-inner">
                  <div>
                    <h4 class="author-name"><a href="#">Meera Krishnan</a></h4>
                    <span class="author-degi">Parent</span>
                  </div>
                  <div class="author-quote">
                    <img src="/img/school/google-icon.webp" alt="quote Icon">
                  </div>
                </div>

                <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="left: 0px; bottom: 0px;">
                  <img src="/img/shapes/testi-shape1.png" alt="section shape">
                </span>

                <span class="shape-mockup wow animate__fadeInRight d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="right: 0px; top: 0px;">
                  <img src="/img/shapes/testi-shape2.png" alt="section shape">
                </span>
              </div>
            </div>
          </div>

          <!-- Testimonial 4 -->
          <div class="col-xl-6 wow animate__fadeInUp" data-wow-delay="0.25s">
            <div class="testi-style2">
              <div class="author-img">
                <img class="img1" src="/img/school/dummy.jpg" alt="testimonials">
              </div>
              <div class="testi-content">
                <div class="star-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>

                <p class="testi-text">
                  "The supportive teachers and joyful learning environment at Mission School make it a wonderful place for children to build confidence and lifelong skills."
                </p>

                <div class="author-inner">
                  <div>
                    <h4 class="author-name"><a href="#">Suresh Kumar</a></h4>
                    <span class="author-degi">Parent</span>
                  </div>
                  <div class="author-quote">
                    <img src="/img/school/google-icon.webp" alt="quote Icon">
                  </div>
                </div>

                <span class="shape-mockup wow animate__fadeInLeft d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="left: 0px; bottom: 0px;">
                  <img src="/img/shapes/testi-shape1.png" alt="section shape">
                </span>

                <span class="shape-mockup wow animate__fadeInRight d-xxl-block d-none"
                  data-wow-delay="0.80s"
                  style="right: 0px; top: 0px;">
                  <img src="/img/shapes/testi-shape2.png" alt="section shape">
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
    <!-- testimonials area End -->
  <div class="position-relative" >

    <!-- Blog area Start -->
  <section class="blog-layout1 space-extra-bottom">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-6 col-lg-7 col-auto">
        <div class="title-area mt-n1 animation-style1 title-anime">
          <span class="sec-subtitle justify-content-start text-theme title-anime__title">
            <img src="/img/shapes/left-title-shape.svg" alt="shape">School News & Updates
            <img src="/img/shapes/right-title-shape.svg" alt="shape">
          </span>
          <h2 class="sec-title text-title title-anime__title">
            Latest <span class="title-higlight text-secondary inline">News</span> & Activities
          </h2>
        </div>
      </div>

      <div class="col-xl-6 col-lg-5 col-auto">
        <div class="title-area mb-60">
          <div class="d-flex justify-content-end align-items-center gap-2">
            <button class="icon-btn2" data-slick-prev=".blog-carousel">
              <i class="fal fa-long-arrow-left"></i>
            </button>
            <button class="icon-btn2" data-slick-next=".blog-carousel">
              <i class="fal fa-long-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row vs-carousel blog-carousel wow animate__fadeInUp"
      data-wow-delay="0.55s"
      data-slide-show="3"
      data-lg-slide-show="2"
      data-md-slide-show="2"
      data-center-mode="true">

      <!-- Blog 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/school/blog-1.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">16 March, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">The Importance of Joyful Learning in Early Education</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Blog 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/school/blog-1.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">12 March, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">How Creative Activities Improve Children's Learning</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Blog 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/school/blog-1.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">10 March, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">Building Confidence and Leadership in Young Students</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Blog 4 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/school/blog-1.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">05 March, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">Why Value-Based Education Matters for Children</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Blog 5 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/school/blog-1.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">02 March, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">Encouraging Curiosity and Creativity in Children</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Blog 6 -->
      <div class="col-lg-4 col-md-6">
        <div class="vs-blog blog-style1">
          <div class="blog-img">
            <a href="blog-details.html">
              <img class="blog-img__img" src="/img/blog/blog-img-1-6.jpg" alt="Blog Image">
            </a>
            <span class="blog-date">28 February, 2025</span>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="#"><i class="fa-solid fa-user"></i> By Admin</a>
              <a href="#"><i class="fa-solid fa-comments"></i> 2 Comments</a>
            </div>
            <h2 class="blog-title">
              <a href="blog-details.html">How Mission School Prepares Students for the Future</a>
            </h2>
            <a class="vs-btn" href="blog-details.html">
              Read More <i class="fa-regular fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
    <!-- Blog area End -->
  </div>

  <!--==============================
	  Footer Area
	============================== -->
  <footer class="footer-layout1  pt-20 z-index-common" >
    <div class="pb-20">
      <div class="container">
        <div class="row g-5 justify-content-between">
          <div class="col-md-6 col-lg-6 col-xl-auto ">
            <div class="widget footer-widget logo-area">
              <div class="footer-logo text-md-start mb-25">
                <a href="/"><img src="/img/school/logo.avif" alt="logo"></a>
              </div>
          <p class="footer-text">
            Welcome to Mission School, where we nurture young minds and build bright futures. 
            From pre-primary to 5th grade, we create a caring environment that inspires curiosity, creativity, 
            and confidence in every child, helping them grow into compassionate and resilient individuals.
          </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Quick Link</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                                    <li><a href="/"><i class="far fa-angle-right"></i> Home</a></li>
                  <li><a href="/about"><i class="far fa-angle-right"></i> About Us</a></li>

                  <li><a href="/gallery"><i class="far fa-angle-right"></i> Gallery</a></li>
                  <li><a href="/events"><i class="far fa-angle-right"></i> Events</a></li>
                  <li><a href="/blogs"><i class="far fa-angle-right"></i> Blogs</a></li>
                  <li><a href="/contact"><i class="far fa-angle-right"></i> Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Explore</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                  <li><a href="/about"><i class="far fa-angle-right"></i>Vision & Mission</a></li>
                  <li><a href="/quality-education"><i class="far fa-angle-right"></i> International Quality Education </a></li>
                  <li><a href="/our-programs"><i class="far fa-angle-right"></i> School Programs</a></li>
                  <li><a href="/unesco"><i class="far fa-angle-right"></i> Unescos Happy Schools Initiative</a></li>
                  <li><a href="https://www.edusap.in/online-admission/Mx25ZMSi/"><i class="far fa-angle-right"></i> Admission </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget footer-widget">
              <h3 class="widget_title">Contact Us</h3>
              <div class="footer-contact-info">
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="contact-info">
                    <a href="tel:+918904788233">+91 89047 88233</a>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="contact-info">
                    <a href="mailto:info@missionschool.com">mymissionschoolmnglr@gmail.com</a>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-info">
                    <a href="#">Behind the Canara Bank, <br> Balamatta Road, Mangalore, <br> Karnataka 575002</a>
                  </div>
                </div>
                <div class="social-links mt-4">
                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-square-x-twitter"></i></a>
                  <a href="https://www.instagram.com/mymissionschool/#" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.youtube.com/channel/UCwE67Uxmxw_DK0tpd9SzdXg" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright-wrap">
      <div class="container">
        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i>
          <script>
            document.write(new Date().getFullYear())
          </script> <a href="index.html">The Mission School</a>
          All Rights Reserved |Developed By  <a href="https://trivlogic.com/">Trivlogic Private Limited</a>
        </p>
      </div>
    </div>
  </footer>


<div class="floating-contact">

  <a href="tel:+918904788233 " class="float-btn call-btn">
    <span class="popup-text">Call Us</span>
    <i class="fas fa-phone"></i>
  </a>

  <a href="https://wa.me/917899606060" target="_blank" class="float-btn whatsapp-btn">
    <span class="popup-text">WhatsApp</span>
    <i class="fab fa-whatsapp"></i>
  </a>

  <a href="https://www.edusap.in/online-admission/Mx25ZMSi/" class="float-btn admission-btn-float">
    <span class="popup-text">Admission Open</span>
    🎓
  </a>

</div>

<div class="mobile-bottom-nav">

  <a href="index.html" class="mobile-nav-item active">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>

  <a href="about.html" class="mobile-nav-item">
    <i class="fas fa-school"></i>
    <span>About</span>
  </a>

  <a href="events.html" class="mobile-nav-item">
    <i class="fas fa-calendar-alt"></i>
    <span>Events</span>
  </a>

  <a href="gallery.html" class="mobile-nav-item">
    <i class="fas fa-images"></i>
    <span>Gallery</span>
  </a>

  <a href="contact.html" class="mobile-nav-item">
    <i class="fas fa-phone"></i>
    <span>Contact</span>
  </a>

</div>
  <!--********************************
			Code End  Here 
	******************************** -->
  <!--==============================
        All Js File
    ============================== -->
  <!-- Jquery -->
  <script src="/js/vendor/jquery-3.7.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Slick Slider -->
  <script src="/js/slick.min.js"></script>
  <!-- Magnific Popup -->
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- imagesloaded -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <!-- Gsap -->
  <script src="/js/gsap.min.js"></script>
  <!-- ScrollTrigger -->
  <script src="/js/ScrollTrigger.min.js"></script>
  <!-- Gsap ScrollTo Plugin -->
  <script src="/js/gsap-scroll-to-plugin.js"></script>
  <!-- Split Text -->
  <script src="/js/SplitText.js"></script>
  <!-- lenis -->
  <script src="/js/lenis.min.js"></script>
  <!-- wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- nice-select -->
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- Main Js File -->
  <script src="/js/main.js"></script>
</body>

</html>