<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title>Mission School | UNESCO's Happy Schools Initiative </title>
  <meta name="author" content="vecuro">
  <meta name="description" content="Horseno Riding Club service HTML template. Clean design and responsive layout.">
  <meta name="keywords" content="Horseno Riding Club service HTML template">
  <meta name="robots" content="index, follow">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons -->
  <link rel="icon" href="/img/school/fav.jpg" type="image/svg+xml">
  <link rel="icon" href="/img/school/fav.jpg" type="image/png" sizes="32x32">
  <link rel="shortcut icon" href="/img/school/fav.jpg" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/school/fav.jpg">
  <!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;family=Unbounded:wght@200..900&amp;display=swap" rel="stylesheet">
  <!--==============================
	    All CSS File
	============================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Fontawesome Icon -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/css/magnific-popup.min.css">
  <!-- Slick Slider -->
  <link rel="stylesheet" href="/css/slick.min.css">
  <!-- nice-select -->
  <link rel="stylesheet" href="/css/nice-select.min.css">
  <!-- animate js -->
  <link rel="stylesheet" href="/css/animate.min.css">
  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!--********************************
   		Code Start From Here 
	******************************** -->
  <!--==============================
	Preloader
	==============================-->

  <button class="back-to-top" id="backToTop" aria-label="Back to Top">
    <span class="progress-circle">
        <svg viewBox="0 0 100 100">
            <circle class="bg" cx="50" cy="50" r="40"></circle>
            <circle class="progress" cx="50" cy="50" r="40"></circle>
        </svg>
        <span class="progress-percentage" id="progressPercentage">0%</span>
    </span>
  </button>
  <!--==============================
    	Mobile Menu
  	============================== -->
  <div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
      <div class="mobile-logo">
        <a href="/"><img src="/img/school/logo.avif" alt="Horseno" class="logo"></a>
        <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
      </div>
      <div class="vs-mobile-menu">
        <ul>
          <li >
            <a href="/">Home</a>
          
          </li>
          <li class="menu-item-has-children">
            <a href="/about">About Us</a>
                 <ul class="sub-menu">
              <li><a href="/about">Vision & Mission</a></li>
              <li><a href="/quality-education">International Quality Education</a></li>
         
            </ul>
          </li>
          <li class="menu-item-has-children">
               <a href="#none">Academics</a>
            <ul class="sub-menu">
              <li><a href="/our-programs">School Programs</a></li>
              <li><a href="/unesco">UNESCO's Happy Schools Initiative</a></li>
           
            </ul>
          </li>
             <li>
            <a href="/events">Events</a>
          </li>
             <li>
            <a href="/gallery">Gallery</a>
          </li>
             <li>
            <a href="/blogs">Blogs</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--==============================
	Sidemenu
	============================== -->
<div class="sidemenu-wrapper d-none d-lg-block">
  <div class="sidemenu-content">
    <button class="closeButton sideMenuCls">
      <i class="far fa-times"></i>
    </button>

    <!-- About School -->
    <div class="widget">
      <div class="vs-widget-about">
        <div class="mb-4">
          <a href="index.html">
            <img src="/img/school/logo.avif" alt="Mission School" class="logo right-side-logo">
          </a>
        </div>

        <p class="sidemenu-text">
          Mission School is committed to providing international quality education that nurtures
          creativity, leadership, and academic excellence. We focus on holistic development,
          helping students grow into responsible and confident global citizens.
        </p>

        <ul class="social-links">
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Map -->
    <div class="widget">
      <h3 class="widget_title">School Location</h3>
      <div class="footer-map">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.5809439755694!2d74.84321217482639!3d12.870320887435804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35b1a0cc3c645%3A0x261aad99b5e30146!2sThe%20Mission%20School!5e0!3m2!1sen!2sus!4v1773068560921!5m2!1sen!2sus"
          width="200"
          height="150"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
    </div>

  </div>
</div>
  <!--==============================

    Header Area
  ==============================-->
  <header class="vs-header header-layout1">
    <div class="header-top">
      <div class="container">
        <div class="row justify-content-md-between justify-content-between align-items-center">
          <div class="col-auto">
            <div class="header-links">
              <ul>
                <li class="d-lg-inline d-none"><i class="fas fa-map-marker-alt"></i><a href="#">Mission School, Mangalore, Karnataka </a></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:mymissionschoolmnglr@gmail.com">mymissionschoolmnglr@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="header-right">
            <a href="https://www.edusap.in/online-admission/Mx25ZMSi/" class="admission-btn">Admission</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-wrapper header-bottom">
      <div class="sticky-active">
        <div class="container">
          <div class="menu-top">
            <div class="row justify-content-between align-items-center gx-sm-0">
              <div class="col-auto">
                <div class="header-logo">
                  <a href="/"><img src="/img/school/logo.avif" alt="Horseno" class="logo"></a>
                </div>
              </div>
              <div class="col-auto">
                <nav class="main-menu menu-style1 d-none d-lg-block">
                  <ul>
                    <li >
                      <a href="/">Home</a>
               
                    </li>
                               <li class="menu-item-has-children">
                      <a href="/about">About Us</a>
                      <ul class="sub-menu">
                        <li><a href="/about">Vision & Mission</a></li>
                        <li><a href="/quality-education">International Quality Education</a></li>
                      </ul>
                    </li>
                     <li class="menu-item-has-children">
                      <a href="/our-programs">Academics</a>
                      <ul class="sub-menu">
                        <li><a href="/our-programs">School Programs</a></li>
                        <li><a href="/unesco">UNESCO's Happy Schools Initiative</a></li>
                      </ul>
                    </li>
                    <li >
                      <a href="/events">Events</a>
               
                    </li>
                    <li >
                      <a href="/gallery">Gallery</a>
                   
                    </li>
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-auto">
                <div class="menu-btns">

                  <div class="header-btns">
                    <button class="vs-icon style3 sideMenuToggler d-none d-lg-inline-flex"><i class="far fa-bars"></i></button>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--==============================
   Hero Area
  ==============================-->
  <!--==============================
    Breadcrumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="/img/school/abt-banner.jpg">
    <div class="container z-index-common">
      <div class="breadcumb-content">
        <h1 class="breadcumb-title">UNESCO's Happy Schools Initiative</h1>
        <div class="breadcumb-menu-wrap">
          <div class="breadcumb-menu">
            <span><a href="index.html">Home</a></span>
            <span>UNESCO's Happy Schools Initiative</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="prog-wrap">




        <section class="premium-about-section">
        <div class="container position-relative">
            <div class="row g-5 align-items-center">
                <!-- Left Content -->
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="premium-about-content">
                 

                        <!-- Premium Title -->
                        <h2 class="premium-title">
                       How Does the UNESCO Happy Schools 
                            <span class="text-gradient">
                         Initiative Benefit Our Students?
                            </span>
                        </h2>
                           <h6 class="unesco-title">
A Global Vision for Education</h6>
                        <!-- Description -->
                        <p class="premium-desc">
                    At the heart of the UNESCO Happy Schools Movement is a simple yet powerful idea: that happiness and well-being are essential for effective learning. Research shows that when children are happy, they are more engaged, more focused, and more successful in their studies. Our school is proud to be part of this global initiative, ensuring that your child not only excels academically but also thrives emotionally and socially.
                        </p>
  <h6 class="unesco-title">
A Holistic Approach to Education
</h6>
                        <p class="premium-desc">
                         We believe that education is more than just academics. Our approach nurtures the entire child—mentally, emotionally, and physically. With a focus on creating a positive, supportive, and caring environment, we help children build the skills they need to face challenges, cultivate their creativity, and develop lifelong well-being. We emphasize social and emotional learning, ensuring students are equipped with the tools to navigate the world with resilience and joy.
                        </p>

                

                        <!-- CTA Button -->
                        <a class="premium-btn" href="contact.html">
                            Contact Us
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Right Image Section -->
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="premium-about-images position-relative">
                        <!-- Main Image -->
                        <div class="main-image-wrapper">
                            <img src="/img/school/sec-9.avif" alt="About School">
                       
                           
                        </div>

                        <!-- Decorative Elements -->
                        <div class="decoration-circle"></div>
                        <div class="decoration-dots"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- ===== 1. INTRO HERO ===== -->
     <section class="premium-features-area  space position-relative" >
    <div class="container z-index-common">
      <div class="row gx-60 g-5 align-items-center">
        <!-- Left side: Content -->
             <div class="col-xl-6 col-lg-6 wow animate__fadeInRight" data-wow-delay="0.4s">
          <div class="premium-image-wrapper position-relative">
            <div class="row g-4 position-relative z-index-common">
              <div class="col-sm-6">
                <div class="img-box bg-white p-2 premium-img-1">
                  <img src="/img/school/sec-15.jpg" alt="School Feature 1" class="img-fluid w-100" style="height: 400px; object-fit: cover;">
                </div>
              </div>
              <div class="col-sm-6 mt-lg-5 mt-sm-4">
                <div class="img-box bg-white p-2 premium-img-2">
                  <img src="/img/school/sec-16.jpg" alt="School Feature 2" class="img-fluid w-100" style="height: 400px; object-fit: cover;">
                </div>
              </div>
            </div>
            <!-- Decorative shape -->
            <div class="premium-shape moving position-absolute d-none d-lg-block" style="z-index: 1; top: -10%; left: 45%;">
              <img src="/img/shapes/dot-shape.png" alt="shape">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 wow animate__fadeInLeft" data-wow-delay="0.3s">
          <div class="title-area ">
       
            <h6 class="unesco-title">Join Our Happy School Community</h6>
          </div>
          <p class="section-desc mb-4">
          
By choosing our school, you are giving your child the opportunity to experience an education that values happiness and well-being as much as academic achievement. Our vibrant, positive community is built on mutual respect, inclusivity, and a shared commitment to creating a joyful, nurturing environment for all. Join us in shaping the future of education—where every child can learn, grow, and flourish in a happy, supportive atmosphere.
          </p>
     
          <p class="section-desc mb-4">
Join us in shaping a brighter, happier future for your child. Enroll today and be part of the UNESCO Happy Schools Movement—where education meets joy and success! If you need any further information on this initiative, please get in touch with us or visit our school for meeting our parent's counselor. 
          </p>
     
        </div>

        <!-- Right side: 2 Images -->
    


      </div>
    
    </div>
  </section>
  <section class="prog-intro">
    <div class="prog-intro__mesh"></div>
    <div class="prog-intro__grid-dots"></div>

    <div class="prog-intro__inner">
             <!-- Right: Image Mosaic -->
      <div class="prog-intro__mosaic">
     

        <div class="prog-mosaic__img prog-mosaic__img--a">
          <img src="/img/school/sec-10.jpg" alt="Children learning"/>
        </div>
        <div class="prog-mosaic__img prog-mosaic__img--b">
          <img src="/img/school/sec-11.jpg" alt="Creative classroom"/>
        </div>
    

   
      </div>
      <!-- Left: Text -->
      <div>
     
        <h1 class="unesco-title">
         A Happy, Safe, and Supportive Environment
        </h1>
        <p class="prog-intro__desc">
        At our school, every child is treated with respect and kindness. Our staff members are dedicated to creating a warm, safe environment where children feel valued and supported. We understand that a happy child is a confident learner, which is why we work closely with each student to foster positive relationships and encourage open communication. Your child will not only feel welcomed but also empowered to reach their full potential.
        </p>
           <h1 class="unesco-title">
Learning Beyond the Classroom
        </h1>
        <p class="prog-intro__desc">
     The UNESCO Happy Schools Movement emphasizes the importance of creating a balanced life for children. That’s why we offer a range of extracurricular activities designed to nurture creativity, teamwork, and personal growth. Whether through arts, sports, music, or community service projects, our students have countless opportunities to explore their passions, build friendships, and develop important life skills—all while having fun!
        </p>
       <div class="prog-intro__pills">
  <span class="prog-pill"><span class="prog-pill__icon">🎨</span> Creative Exploration</span>
  <span class="prog-pill"><span class="prog-pill__icon">🤝</span> Teamwork & Friendship</span>
  <span class="prog-pill"><span class="prog-pill__icon">🌱</span> Personal Growth</span>

</div>
      </div>

 
    </div>
  </section>

  <section class="premium-features-area space position-relative" >
    <div class="container z-index-common">
      <div class="row gx-60 g-5 align-items-center">
        <!-- Left side: Content -->
        <div class="col-xl-6 col-lg-6 wow animate__fadeInLeft" data-wow-delay="0.3s">
          <div class="title-area ">
       
            <h6 class="unesco-title">Building Strong Relationships with Parents</h6>
          </div>
          <p class="section-desc mb-4">
          
We recognize that parents play a crucial role in a child’s happiness and success. That’s why we believe in building strong partnerships with our families. We are committed to open communication, regular updates, and active involvement in your child’s learning journey. Together, we can create an environment where your child feels encouraged, supported, and motivated to achieve their dreams.
          </p>
              <div class="title-area ">
       
            <h6 class="unesco-title">Focus on Mental and Emotional Well-being</h6>
          </div>
          <p class="section-desc mb-4">
          
A key component of the UNESCO Happy Schools Movement is prioritizing mental health and emotional well-being. We provide a range of support services, including counseling and wellness programs, to ensure that every child feels emotionally supported. Our educators are trained to recognize the signs of stress and anxiety and work proactively to create a space where students can talk about their feelings and learn coping strategies.
          </p>
     
        </div>

        <!-- Right side: 2 Images -->
        <div class="col-xl-6 col-lg-6 wow animate__fadeInRight" data-wow-delay="0.4s">
          <div class="premium-image-wrapper position-relative">
            <div class="row g-4 position-relative z-index-common">
              <div class="col-sm-6">
                <div class="img-box bg-white p-2 premium-img-1">
                  <img src="/img/school/sec-13.avif" alt="School Feature 1" class="img-fluid w-100" style="height: 400px; object-fit: cover;">
                </div>
              </div>
              <div class="col-sm-6 mt-lg-5 mt-sm-4">
                <div class="img-box bg-white p-2 premium-img-2">
                  <img src="/img/school/sec-14.avif" alt="School Feature 2" class="img-fluid w-100" style="height: 400px; object-fit: cover;">
                </div>
              </div>
            </div>
            <!-- Decorative shape -->
            <div class="premium-shape moving position-absolute d-none d-lg-block" style="z-index: 1; top: -10%; left: 45%;">
              <img src="/img/shapes/dot-shape.png" alt="shape">
            </div>
          </div>
        </div>


      </div>
    
    </div>
  </section>



  <!-- ===== 4. SCHEDULE BANNER ===== -->






</div><!-- /prog-wrap -->
<!--==============================
	  Footer Area
	============================== -->
  <footer class="footer-layout1  pt-20 z-index-common" >
    <div class="pb-20">
      <div class="container">
        <div class="row g-5 justify-content-between">
          <div class="col-md-6 col-lg-6 col-xl-auto ">
            <div class="widget footer-widget logo-area">
              <div class="footer-logo text-md-start mb-25">
                <a href="/"><img src="/img/school/logo.avif" alt="logo"></a>
              </div>
          <p class="footer-text">
            Welcome to Mission School, where we nurture young minds and build bright futures. 
            From pre-primary to 5th grade, we create a caring environment that inspires curiosity, creativity, 
            and confidence in every child, helping them grow into compassionate and resilient individuals.
          </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Quick Link</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                                    <li><a href="/"><i class="far fa-angle-right"></i> Home</a></li>
                  <li><a href="/about"><i class="far fa-angle-right"></i> About Us</a></li>

                  <li><a href="/gallery"><i class="far fa-angle-right"></i> Gallery</a></li>
                  <li><a href="/events"><i class="far fa-angle-right"></i> Events</a></li>
                  <li><a href="/blogs"><i class="far fa-angle-right"></i> Blogs</a></li>
                  <li><a href="/contact"><i class="far fa-angle-right"></i> Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Explore</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                  <li><a href="/about"><i class="far fa-angle-right"></i>Vision & Mission</a></li>
                  <li><a href="/quality-education"><i class="far fa-angle-right"></i> International Quality Education </a></li>
                  <li><a href="/our-programs"><i class="far fa-angle-right"></i> School Programs</a></li>
                  <li><a href="/unesco"><i class="far fa-angle-right"></i> Unescos Happy Schools Initiative</a></li>
                  <li><a href="https://www.edusap.in/online-admission/Mx25ZMSi/"><i class="far fa-angle-right"></i> Admission </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-auto">
            <div class="widget footer-widget">
              <h3 class="widget_title">Contact Us</h3>
              <div class="footer-contact-info">
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="contact-info">
                    <a href="tel:+918904788233">+91 89047 88233</a>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="contact-info">
                    <a href="mailto:info@missionschool.com">mymissionschoolmnglr@gmail.com</a>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-info">
                    <a href="#">Behind the Canara Bank, <br> Balamatta Road, Mangalore, <br> Karnataka 575002</a>
                  </div>
                </div>
                <div class="social-links mt-4">
                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-square-x-twitter"></i></a>
                  <a href="https://www.instagram.com/mymissionschool/#" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.youtube.com/channel/UCwE67Uxmxw_DK0tpd9SzdXg" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright-wrap">
      <div class="container">
        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i>
          <script>
            document.write(new Date().getFullYear())
          </script> <a href="index.html">The Mission School</a>
          All Rights Reserved |Developed By  <a href="https://trivlogic.com/">Trivlogic Private Limited</a>
        </p>
      </div>
    </div>
  </footer>

<div class="floating-contact">

  <a href="tel:+918904788233 " class="float-btn call-btn">
    <span class="popup-text">Call Us</span>
    <i class="fas fa-phone"></i>
  </a>

  <a href="https://wa.me/918904788233" target="_blank" class="float-btn whatsapp-btn">
    <span class="popup-text">WhatsApp</span>
    <i class="fab fa-whatsapp"></i>
  </a>

  <a href="https://www.edusap.in/online-admission/Mx25ZMSi/" class="float-btn admission-btn-float">
    <span class="popup-text">Admission Open</span>
    🎓
  </a>

</div>

<div class="mobile-bottom-nav">

  <a href="index.html" class="mobile-nav-item ">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>

  <a href="about.html" class="mobile-nav-item">
    <i class="fas fa-school"></i>
    <span>About</span>
  </a>

  <a href="events.html" class="mobile-nav-item">
    <i class="fas fa-calendar-alt"></i>
    <span>Events</span>
  </a>

  <a href="gallery.html" class="mobile-nav-item">
    <i class="fas fa-images"></i>
    <span>Gallery</span>
  </a>

  <a href="contact.html" class="mobile-nav-item">
    <i class="fas fa-phone"></i>
    <span>Contact</span>
  </a>

</div>
  <!--********************************
			Code End  Here 
	******************************** -->
  <!--==============================
        All Js File
    ============================== -->
  <!-- Jquery -->
  <script src="/js/vendor/jquery-3.7.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Slick Slider -->
  <script src="/js/slick.min.js"></script>
  <!-- Magnific Popup -->
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- imagesloaded -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <!-- Gsap -->
  <script src="/js/gsap.min.js"></script>
  <!-- ScrollTrigger -->
  <script src="/js/ScrollTrigger.min.js"></script>
  <!-- Gsap ScrollTo Plugin -->
  <script src="/js/gsap-scroll-to-plugin.js"></script>
  <!-- Split Text -->
  <script src="/js/SplitText.js"></script>
  <!-- lenis -->
  <script src="/js/lenis.min.js"></script>
  <!-- wow js -->
  <script src="/js/wow.min.js"></script>
  <!-- nice-select -->
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- Main Js File -->
  <script src="/js/main.js"></script>
</body>

</html>